@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:#deddcd;
  font-size: 16px;
}

header {
  background: white;
  padding-top: 1em;
  padding-right: .5em;
  padding-bottom: 1em;
  padding-left: 6em;
}

nav li {
  list-style-type: none;
}

nav li a {
  text-decoration: none;
}

nav li a:link,
nav li a:visited {
  color: red;
}

nav li a:hover,
nav li a:active {
  color: yellow;
}

input[type="text"] {
  font-size: inherit;
}

::-webkit-scrollbar { 
  display: none; 
}

#movie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  opacity: .8;
}

#comedy {
  height: calc(25%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url('images/comedy.png');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/comedy.png');
  background-size: cover;
}

#adventure {
  height: calc(25%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url('images/adventure.png');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/adventure.png');
  background-size: cover;
}

#animation {
  height: calc(25%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url('images/animation.png');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/animation.png');
  background-size: cover;
}

#crime {
  height: calc(25%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url('images/crime.png');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('images/crime.png');
  background-size: cover;
}

.img-box img {
  height: 100%;
}

#container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  display: none;
}

#container .card {
  position: relative;
  background: #000;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 440px;
  width: auto;
  margin-bottom: 2em;
  -webkit-box-shadow: 16px 16px 16px -1px #363636;
          box-shadow: 16px 16px 16px -1px #363636;
}

#container .card:hover {
  /* moves card 20 pixels up on hover */
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 16px 16px 16px -1px #363636;
          box-shadow: 16px 16px 16px -1px #363636;
}

#container .card .img-box {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#container .card:hover .img-box {
  opacity: 0.5;
}

#container .card .img-box img {
  width: 100%;
}

#container .card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  padding: 20px;
  padding-top: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#container .card:hover .content {
  bottom: 0;
  /* background: linear-gradient(to top, #333, #6a9ee2); */
  background: -webkit-gradient(linear, left bottom, left top, from(#333), to(transparent));
  background: linear-gradient(0deg, #333, transparent);
}

#container .card .content h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 20px;
}

#container .card .content h2 span {
  color: #ffeb3b;
  font-size: 16px;
}

#container .card .content p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
}

#container .card .content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container .card .content ul li {
  list-style: none;
}

#container .card .content ul li a {
  color: #fff;
  padding: 0 10px;
  font-size: 18px;
}

.content > a {
  text-decoration: none;
}

.details-button {
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 100px;
  font: inherit;
  background: linear-gradient(135deg, #1a9be6, #1a57e6);
  border: none;
  outline: none;
  margin-top: 2rem;
}

.trailer-button {
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 100px;
  font: inherit;
  background: linear-gradient(135deg, #e6321a, #e61a1a);
  border: none;
  outline: none;
  margin-top: 2rem;
}


/* ======================================================================== */
/* Search bar tutorial */
/* ======================================================================== */


#search_bar {
  text-align: center;
  padding: 5em 0;
  border: 2px solid #eee;
  background: rgba(0, 0, 0, .4);
  /* opacity: .1; */
}

h1 {
  font-size: 3.5em;
  margin-bottom: 2rem;
  /* text-shadow: 0px 2px 6px #333; */
  /* color: #fff; */
  color: rgb(106, 158, 226);
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
  /* text-shadow: 0px 1px 1px #fff; */
}

.jumbotron {
  text-align: center;
}

input {
  font-family: 'Montserrat';
  background: rgb(106, 158, 226);
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 30px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 1.6em;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

input::-webkit-input-placeholder {
  color: rgb(131, 185, 202);
}

input:-ms-input-placeholder {
  color: rgb(131, 185, 202);
}

input::-ms-input-placeholder {
  color: rgb(131, 185, 202);
}

input::placeholder {
  color: rgb(131, 185, 202);
}

input:focus {
  outline: none;
}

#search-btn {
  width: 22px;
  margin: 9px 0 0 10px;
  position: absolute;
  cursor: pointer;
}

#tip {
  color: rgb(106, 158, 226);
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
  /* text-shadow: 0px .5px .5px #fff; */
  text-transform: uppercase;
  font-size: .8em;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 1rem;
}

.search-contain:before {
  content: '';
  border-radius: 50%;
  width: 38px;
  height: 38px;
  border: 3px solid white;
  position: absolute;
  -webkit-animation: grow 1s 3;
          animation: grow 1s 3;
}

.search-results-count h1{
  margin-top: 2rem;
  margin-bottom: 0;
  /* color: #fff; */
  color: #e61a1a;
  /* color: #ff1e00; */
  /* color: #ffeb3b; */
  /* text-shadow: 0px 1px 1px #fff; */
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes change {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

@keyframes change {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0 50%;
  }
}

/* ======================================================================== */
/* Search bar tutorial end */
/* ======================================================================== */

/* @media screen and (max-width: 768px) {
  
} */

@media screen and (max-width: 600px) {
  /* #container {
    display: flex;
    flex-direction: column;
  } */

  h1 {
    font-size: 1.5em;
    margin-bottom: 2rem;
  }
}